
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #0B001A; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
img {
    image-rendering: -webkit-optimize-contrast; /* بيزود حدة التفاصيل */
    image-rendering: crisp-edges;
}